#banner {
    background-color: var(--dark-white) !important;
    height: 500px;
    padding-top: 20px;
    border-radius: 90px;
    position: relative;
    z-index: 1;
}

#banner img {
    max-height: 400px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}


#banner img:hover {
    box-shadow: 0px 10px 10px var(--secondary);
    transform: translateY(-3px);
}

#banner span {
    color: var(--secondary);
    font-weight: bold;
}

#banner .buttons {
    display: flex;
    gap: 10px;
}

#banner .buttons a {
    border: 2px solid var(--main);
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: 600;
}

#banner .buttons a:hover {
    background-color: var(--main);
    color: var(--white);
}

/* Numeros */

#numbers {
    background-color: black;
    color: var(--white);
    padding: 128px 0 45px;
    text-align: center;
    margin-top: -84px;
}

#numbers span {
    color: var(--secondary);
    font-weight: 700;
}

.box-numbers {
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 20px 45px;
    border-radius: 20px;
    padding: 25px 0;
    background: rgba(0, 0, 0, .2); 
    /* box-shadow: 0 4px 30px var(--secondary); */
    backdrop-filter: blur(10px);
    color: #fff; 
    position: relative;
    overflow: hidden;
}

#numbers .bg {
    position: absolute;
    fill: var(--secondary) !important;
    width: 130px;
    top: 10px;
    left: -90px; 
    box-shadow: 0 0 10px var(--secondary);
    filter: blur(20px);
}

#numbers .bg-dir {
    position: absolute;
    fill: var(--secondary) !important;
    width: 130px;
    top: 10px;
    right: -90px; 
    box-shadow: 0 0 10px var(--secondary);
    filter: blur(20px);
}

.box-numbers p {
    margin-bottom: 0;
}

/* Apresentação */

#presentation {
    background-color: black;
    color: var(--white);
    padding: 45px ;
}

.img-present {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    margin: 0 !important;
    filter: grayscale(80%);
    border-radius: 20px;
    transition: all .3s ease-in-out;
}

#presentation .box-img {
    position: relative;
}

#presentation .text {
    position: absolute;
    bottom: 30px;
    left: 60px;
    background-color: var(--main-strong);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--third);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#presentation .box-img:hover .text {
    visibility: visible;
    opacity: 1;
}

#presentation .text h4 {
    font-size: clamp(16px, 3vw, 22px);
    margin-bottom: 0;
}

.img-present:hover {
    box-shadow: 0 0 10px var(--third);
    filter: grayscale(0%);
    cursor: pointer;
}

.var-1 {
    max-height: 400px;
    object-position: center;
}

.var-2 {
    max-height: 550px;
}

@media screen and (max-width: 768px ){
    #banner {
        min-height: 200px;
        height: auto;
        border-radius: 0;
        padding: 0 0 25px 0;
    }
    #banner img {
        margin: 25px auto;
    }

    #banner .flex {
        flex-wrap: wrap-reverse;
    }

    #banner .banner-content {
        text-align: center;
    }

    .buttons {
        justify-content: center;
    }

    .box-numbers {
        gap: 40px;
        margin-bottom: 0;
    }

    #numbers {
        margin-top: 0;
        padding-bottom: 0;
    }

    #numbers .bg, #numbers .bg-dir {
        height: 100%;
    }

    .total-box {
        /* display: flex; */
        gap: 20px;
    }

    #presentation .text {
        left: 30px;
    }
}

@media (min-width: 1024px) {
    #banner {
        margin-top: 140px;
    }
}

@media (min-width: 991px) {
    #banner {
        margin-top: 150px;
    }
}

@media screen and (max-width: 990px) {
    #banner {
        margin-top: 80px;
    }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    #banner {
        margin-top: 120px;
    }
}